.hex {
    float: left;
    margin-right: -20px;
    margin-bottom: -44px;
}
.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid #DDDDDD;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #DDDDDD;
    text-align: center;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid #DDDDDD;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hex-gold .left {
    width: 0;
    border-right: 30px solid #ead61c;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-gold .middle {
    width: 60px;
    height: 104px;
    background: #ead61c;
}
.hex-gold .right {
    width: 0;
    border-left: 30px solid #ead61c;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 53px;
}

.hide {
    visibility: hidden;
}

body {
    padding: 3em;
    width: 60%;
    margin: auto;
    font-family: "Trebuchet MS";
}

#scoreboard {
}

#wordbox {
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #DDDDDD;
    height: 330px;
}

#score {
    padding: 1em 1em 1em 1em;
}

#rank {
    text-align: center;
    padding: 1em 0em 1em 0em;
    background: #ead61c;
    border-radius: 10px;
}

#game {
    text-align: center;
    margin: 0 6em 0 0;
}

.column {
    flex: 50%;
    padding: 10px;
}

.row {
    display: flex;
}

.status{
    width: 50%;
    margin: auto;
    padding: 8 0 8 0px;
    border-radius: 5px;
    background: #ead61c;
    visibility: hidden;
}

.status-bad {
    background: #434343;
    color: white;
}

.rankstatus{
    width: 30px;
    margin: auto;
    font-size: 16pt;
    visibility: hidden;
    padding: 0 0 8px 0;
}


#hive {
    padding 1px 1px 1px 1px;
    height: 400px;
}

button {
    border-width: 1;
    background: white;
    border-radius: 30%;
    padding: 1em 1em 1em 1em;
    border-color: #DDDDDD;
    border-style: solid;
}

button:active {
    background: #DDDDDD;
}

a {
    color: #ead61c;
}

#wordinput {
    border-width: 0;
    font-size: 17pt;
    caret-color: #ead61c;
    text-align: center;
    padding: 10px 0 0 0;
}

#wordinput:focus{
    outline: none;
}


#letter1, #letter2, #letter3, #letter4, #letter5, #letter6 {
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold;
}

#mid_letter {
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold
}
