.hex {
    float: left;
    margin-right: -20px;
    margin-bottom: -46px;
}
.hex .left {
    float: left;
    width: 0;
    border-right: 30px solid #DDDDDD;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex .middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #DDDDDD;
    text-align: center;
}
.hex .right {
    float: left;
    width: 0;
    border-left: 30px solid #DDDDDD;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hex-gold .left {
    width: 0;
    border-right: 30px solid #ead61c;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}
.hex-gold .middle {
    width: 60px;
    height: 104px;
    background: #ead61c;
}
.hex-gold .right {
    width: 0;
    border-left: 30px solid #ead61c;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
}

.hex-row {
    clear: left;
}
.hex.even {
    margin-top: 57px;
}

.hide {
    visibility: hidden;
}

.content {
    padding: 2em;
    width: 68%;
    margin: auto;
    font-family: "Trebuchet MS";
}

#scoreboard {
    width: 400px;
}

footer {
    background: #F8F8F8;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    color: #434343;
}

footer h1 {
    font-size: 10pt;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    font-family: "Trebuchet MS";
}

footer p {
    font-family: "Times New Roman";
    font-size: 15pt;
}

#wordbox {
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #DDDDDD;
    height: 330px;
    color: #434343;
}

#score {
    width: 400px;
}

#rdots {
    font-size: 5pt;
    color: #DDDDDD;
    line-height: 25px;
    letter-spacing: 30px;
}

#ldots {
    font-size: 5pt;
    color: #ead61c;
    line-height: 25px;
    letter-spacing: 30px;
}

h2 {
    font-size: 10pt;
    font-weight: normal;
    color: #555555;
}

#description {
    font-size: 12pt;
    color: #555555;
}

#rankstring {
    display: inline-block;
    text-align: center;
    font-size: 10pt;
    width: 100px;

}

#rankstringoutline {
    padding: 4px 0px 4px 0px;
    margin: 0 13px 0 0;
    border-style: solid;
    border-width: thin;
    border-color: #DDDDDD;
    border-radius: 10px;
}

#game {
    text-align: center;
    margin: 0 6em 0 0;
}

.column {
    flex: 50%;
    padding: 10px;
}

.row {
    display: flex;
}

.status{
    width: 50%;
    margin: auto;
    padding: 8 0 8 0px;
    border-radius: 5px;
    background: #ead61c;
    visibility: hidden;
}

.status-bad {
    background: #434343;
    color: white;
}

.rankstatus{
    width: 30px;
    margin: auto;
    font-size: 16pt;
    visibility: hidden;
    padding: 0 0 8px 0;
}

#h1 {
    padding: 1em 0 0 0;
}

ul {
      list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */


}

#hive {
    height: 400px;
    width: 320px;
    margin: auto;
}

button {
    border-width: 1;
    background: white;
    border-radius: 30%;
    padding: 1em 1em 1em 1em;
    border-color: #DDDDDD;
    border-style: solid;
}

#points {
    background: #ead61c;
    width: 28px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 9pt;
}

#gamebuttons {
    padding: 1em;
}

button:active {
    background: #DDDDDD;
}

a {
    color: #ead61c;
}

.current_rank {
    font-weight: bold;
}

.other_rank {
    color: #858545;
}

#wordinput {
    border-width: 0;
    font-size: 17pt;
    caret-color: #ead61c;
    text-align: center;
    padding: 10px 0 0 0;
}

hr {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    background: red;
}

#rankline {
    padding: 1em 0em 1em 0em;
}

#wordinput:focus{
    outline: none;
}


#letter1, #letter2, #letter3, #letter4, #letter5, #letter6 {
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold;
}

#mid_letter {
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bold
}
