<input id="wordinput" type="word"></input>
<button onclick="submitWord()" id="submit">Try</button>
<button onclick="getLetters()" id="shuffle">Shuffle letters</button>
<div id="status">Word status</div>
<div id="gamespace">
    <div class="hex-row">
        <div class="hex hide"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
        <div class="hex even"><div class="left"></div><div class="middle"><br><br><span id="letter1">X</span></div><div class="right"></div></div>
        <div class="hex hide"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
    </div>
    <div class="hex-row">
        <div class="hex"><div class="left"></div><div class="middle"><br><br><span id="letter2">X</span></div><div class="right"></div></div>
        <div class="hex-gold hex even"><div class="left gold"></div><div class="middle"><br><br><span id="mid_letter">X</span></div><div class="right"></div></div>
        <div class="hex"><div class="left"></div><div class="middle"><br><br><span id="letter3">X</span></div><div class="right"></div></div>
    </div>
    <div class="hex-row">
        <div class="hex"><div class="left"></div><div class="middle"><br><br><span id="letter4">X</span></div><div class="right"></div></div>
        <div class="hex even"><div class="left"></div><div class="middle"><br><br><span id="letter5">X</span></div><div class="right"></div></div>
        <div class="hex"><div class="left"></div><div class="middle"><br><br><span id="letter6">X</span></div><div class="right"></div></div>
    </div>
</div>
