<div id="game">
<div id="status" class="status">Word status</div>
<input id="wordinput" placeholder="Type a word"></input>
<div id="hive">
    <div class="hex-row">
        <div class="hex hide"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
        <div class="hex even"><div class="left"></div><div class="middle"><br><br><span id="letter1"></span></div><div class="right"></div></div>
        <div class="hex hide"><div class="left"></div><div class="middle"></div><div class="right"></div></div>
    </div>
    <div class="hex-row">
        <div class="hex"><div class="left"></div><div class="middle"><br><br><span id="letter2"></span></div><div class="right"></div></div>
        <div class="hex-gold hex even"><div class="left gold"></div><div class="middle"><br><br><span id="mid_letter"></span></div><div class="right"></div></div>
        <div class="hex"><div class="left"></div><div class="middle"><br><br><span id="letter3"></span></div><div class="right"></div></div>
    </div>
    <div class="hex-row">
        <div class="hex"><div class="left"></div><div class="middle"><br><br><span id="letter4"></span></div><div class="right"></div></div>
        <div class="hex even"><div class="left"></div><div class="middle"><br><br><span id="letter5"></span></div><div class="right"></div></div>
        <div class="hex"><div class="left"></div><div class="middle"><br><br><span id="letter6"></span></div><div class="right"></div></div>
    </div>
<br>
</div>
<div id="gamebuttons">
<button onclick="submitWord()" id="submit">Enter</button>
<button onclick="shuffleHexagon()" id="shuffle"><i class="fas fa-sync-alt"></i></button>
</div>
</div>
